	<br>
<br>

<h1 align="center"><font color="#9B1C26">Novo Comentário</font></h1>

<br>

<table align="center">
	<tr>
		<td align="center">
			<font size="6">
<%= render 'form' %>
			</font>
		</td>
	</tr>
</table>

<br>

<font size="6">
<%= link_to 'Voltar', comentarios_path %>
</font>